.wrapper {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 43px 0;
  box-shadow: 0px 10px 30px 4px rgba(85, 105, 135, 0.03);
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-settings {
  display: flex;
  gap: 34px;
}

.header-items {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header-items ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.artworks-block {
  display: flex;
  justify-content: space-between;
}

.artworks-block_top {
  padding-top: 166px;
}

.artworks-block__title,
.artworks-block__num {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000000;
}

.filter-block {
  display: flex;
}

.filter-block_top {
  padding-top: 85px;
}

.filter-block_inner {
  display: flex;
}

.filter-item-block {
  width: 258px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.filter-item-block_left {
  margin-left: 30px;
}

.arrow {
  width: 10px;
  height: 5px;
}


/* Cards styles */

.cards-block {
  display: flex;
  margin-top: 60px;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  max-width: 300px;
  transition: 300ms;
  position: relative;
}

.card-item:hover {
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card-item__img-wrapper {
  width: 100%;
  
}

.card-item__img {
  width: 100%;
}

.delete-icon-wrapper {
  width: 34px;
  height: 34px;
  background: rgba(184, 184, 184, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-icon {
  top: 8px;
  left: 9px;
  width: 16px;
  height: 19px;
}


.card-description_user-img-wrapper {
  width: 38px;
  height: 38px;
}

.card-description_user-img {
  width: 100%;
}


.card-description {
  display: flex;
  align-items: center;
  margin: 10px 0 0 5px;
}

.card-description__username {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.card-photo-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.user-info {
  margin-left: 10px;
}

.pagination_wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 100px 15px 150px 15px;
}

.pagination-block {
  display: flex;
}

.pagination__item {
  width: 60px;
  height: 60px;
  border: 1px solid #DFDFDF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
  cursor: pointer;
}

.pagination__item:hover {
  background: #000;
  color: #fff;
}

.pagination-text-block {
  color: #959595;
  font-size: 18px;
  margin-left: 40px;
  align-self: center;
}

.footer-wrapper {
  background: #000;
  padding: 50px 15px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  color: #fff;
}

.footer-description-text {
  font-size: 18px;
  line-height: 150%;
}

.footer-item__left {
  display: flex;
  flex-direction: column;
}

.footer-descritpion__left {
  margin-top: 60px;
  font-size: 18px;
  line-height: 150%;
}

.footer-description-text {
  margin-top: 16px;
}

.footer-item__right {
  display: flex;
}

.footer-item-right-socials {
  margin: 41px 0 0 100px;
}

.email-text {
  margin-top: 16px;
}

.copyright-text {
  margin-top: 64px;
}

.footer-social-icon {
  margin-left: 16px;
}

